/* Globals */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #626262;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.wrap {
  margin: 0 auto;
  max-width: 320px;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0.75em 0;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 2em 0;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  padding: 1em 0;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

p {
  line-height: 1.25;
  margin: 0;
  padding: 0.5em 0 2em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Header */

header {
  background-color: #f0f0f0;
}

header p {
  text-align: center;
}

.profile-pic {
  background-color: #e0e0e0;
  margin: 1em auto;
  padding: 1.2em 1.5em;
  width: 70%;
}

.profile-pic img {
  display: block;
  height: 50%;
  margin: auto;
  width: 50%;
}

ul {
  list-style-type: none;
  padding: 0.1em 0;
}

ul li {
  font-weight: 700;
  padding: 0.25em 0;
  text-align: center;
  text-transform: uppercase;
}

ul li a:link {
  background-color: #fff;
  color: #575757;
  display: block;
  margin: 0 auto;
  padding: 0.75em;
  text-decoration: none;
  width: 95%;
}

ul li a:visited {
  color: #575757;
}

ul li a:hover {
  background-color: #d0d0d0;
}

/* Main */

section {
  margin: auto 0.5em;
}

main {
  padding-bottom: 2em;
}

main p {
  text-align: center;
}

/* Footer */

footer {
  background-color: #f0f0f0;
  margin-bottom: 1em;
}

footer h2 {
  padding: 3em 0;
}

footer p {
  padding: 0.5em 0 0.5em;
  text-align: center;
}

footer p a:link {
  color: #575757;
  text-decoration: none;
}

footer p a:visited {
  color: #575757;
}

footer p a:hover {
  color: #575757;
  text-decoration: underline;
}

footer section {
  padding-bottom: 3em;
}

footer nav {
  border-bottom: 1px solid #575757;
  border-top: 1px solid #575757;
  padding: 1.5em 1em;
  width: 100%;
}

footer nav p {
  display: inline-block;
  font-weight: 700;
}

footer nav p a:link {
  color: #575757;
  text-decoration: none;
}
footer nav p a:visited {
  color: #575757;
}
footer nav p a:hover {
  text-decoration: underline;
}
