/* Media queries */

@media screen and (min-width: 769px) {
  /* Header */

  body {
    font-size: 1.2em;
  }

  header h1 {
    padding: 30px 0 10px;
  }
  nav {
    padding: 10px 0;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li a:link {
    background-color: transparent;
  }

  /* Profile */

  .profile-wrap {
    display: flex;
    padding-bottom: 2em;
  }

  .profile-wrap div {
    flex-grow: 1;
  }

  .profile-pic {
    height: 100%;
    margin: 1em;
    width: 100%;
  }

  .profile-wrap p {
    flex-grow: 1;
    order: -1;
    text-align: left;
  }

  /* Main section */

  main {
    padding: 0 0 2em;
  }

  article {
    display: flex;
    flex-wrap: wrap;
  }

  article section {
    flex: 1;
    flex-basis: 47.5%;
    min-height: 25em;
  }

  aside ul {
    text-align: center;
  }

  aside ul li {
    display: inline-block;
  }

  /* Footer */

  footer section p {
    margin: 0 auto;
    width: 70%;
  }

  footer nav p,
  footer nav ul,
  footer nav ul li,
  footer nav ul li a:link {
    padding-top: 0;
  }

  .tablet-nav {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  /* Global site width */
  div.wrap {
    margin: auto;
    max-width: 1200px;
  }
  /* Header */
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header h1,
  header nav {
    margin: 0 1em;
  }

  /* Profile */

  /* Main */
  article section {
    flex: 1;
    flex-basis: 31%;
  }

  /* Footer */
  footer section p {
    width: 60%;
  }

  nav p.float-right {
    display: none;
  }
  footer nav ul {
    float: right;
  }
  .tablet-nav {
    display: block;
  }

  .tablet-nav li {
    display: inline-block;
  }
}
